/.git/
/**/Thumbs.db
/**/*.DS_Store
/catalog/view/theme/basecart/app/
/catalog/view/theme/basecart/node_modules/
/catalog/view/theme/basecart/package-lock.json
/image/cache/**/*.*
/image/temp/*.*
/_mod/*.*
/_32214install/*.*
/system/storage/cache/*.*
/system/storage/upload/**
config.php
/admin/config.php